<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wf.industry.mapper.IndustryTableMapper">
    <resultMap id="IndustryEachVoResultMap" type="com.wf.model.vo.IndustryEachVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="edit_time" property="editTime" jdbcType="TIMESTAMP"/>
        <result column="auditing" property="auditing" jdbcType="INTEGER"/>
        <result column="resTblName" property="resTblName" jdbcType="VARCHAR"/>
        <result column="tableName" property="tableName" jdbcType="INTEGER"/>
    </resultMap>
	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id AS id, title AS title, type AS type, content AS content, create_time AS createTime, edit_time AS editTime, table_name AS tableName,auditing AS auditing
	</sql>
	<select id="selectIndustryPage" resultType="Map">
		SELECT
		t.id, t.title AS title,t.type AS type,t.content AS content,t.create_time AS createTime,t.edit_time AS editTime,t.table_name AS tableName,t.auditing AS auditing
		FROM industry_data t where true
			<if test=" title != null and title != '' ">
				and t.title like  concat('%',#{title},'%') and t.auditing = 1
			</if>
            <if test=" tableName != null ">
                and t.table_name = #{tableName}
            </if>
            <if test=" startTime != null ">
                <![CDATA[ and t.create_time >= #{startTime} ]]>
            </if>
            <if test=" endTime != null ">
                <![CDATA[ and t.create_time <= #{endTime} ]]>
            </if>
	</select>
	<select id="selectByID" resultMap="IndustryEachVoResultMap" parameterType="java.lang.Long">
		SELECT
		t.id, t.title AS title,t.type AS type,t.content AS content,t.create_time AS createTime,t.edit_time AS editTime,t.table_name AS tableName,res.res_tbl_name AS resTblName,t.auditing AS auditing
		FROM industry_data t 
        LEFT JOIN res_info res ON res.res_id = t.table_name
        <where>
            t.id = #{id}  and t.auditing = 1
        </where>
	</select>
</mapper>