<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wf.personal.mapper.PersonalScMapper">
	<!-- 通用查询结果列 -->
 	<sql id="Base_Column_List">
		id, user_id AS userId ,title AS title,author AS author, time AS time,source AS source,abstract AS abstractZY,url AS url
	</sql> 
	<select id="selectPersonalPage" resultType="Map">
		SELECT
		t.id, t.title AS title,t.author AS author,t.time AS time,
		 t.source AS source,t.abstract_z_y AS abstractZY,t.url AS url
		FROM personal_sc t where true 
       	<!--ORDER BY-->
        <if test="userId != null and userId != '' ">
           AND user_id = #{userId}
        </if>
        <!--create_time desc-->		
	</select>
</mapper>