<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wf.article.mapper.CollectMapper">
	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, title ,url,is_show AS isShow, collect_time AS collectTime,orign_from AS orignFrom
	</sql>
	
	<select id="selectCollectPage" resultType="Map">
		SELECT
		t.id, t.title AS title, t.url AS url,t.is_show AS isShow,
		 t.collect_time AS collectTime,t.orign_from AS orignFrom
		FROM collect_data t where true
			<if test=" title != null and title != '' ">
				and t.title like  concat('%',#{title},'%')
			</if>
			<if test=" isShow != null and isShow != '' ">
				and t.is_show= #{isShow}
			</if>
			<if test=" orignFrom != null and orignFrom != '' ">
				and t.orign_from= #{orignFrom}
			</if>
	</select>
</mapper>